.dropdown{
	background-color: black;

}


body{
	background-color: black;
	text-align: center;

}
button{
	text-align: center;
}


h1{
	padding: .5em;
	background-color: lightblue;
	font-family: 'capture_itregular', 'Helvetica', 'Arial';
	text-align: center;
	font-size: 3em;
	margin: .3em;
	color: white;
}

#slideshow{width:1400px; height:700px; overflow:hidden; position:relative;}

#slideshow li{width:960px; height:350px; float:left; display:inline;}



.dropdown-content{
	display: none;
	position: absolute;
	background-color: lightblue;
	color: black;
	min-width:100%;
	text-align: center;
}

.dropdown{
	position: relative;


}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown-content a{
	position: relative;
	font-family: 'capture_itregular';
	background-color: red;
	color: white;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover{
	position: relative;
	padding-left: 0;
	padding-right: 0;
	background-color: grey;
}

.indrop{
	font-size: 24;
}



