
@font-face {
    font-family: "showFont";
    src: url(../fonts/BulletSmallCapsScript.ttf);
}

body{
	background-color: black;
	text-align: center;

}

table{
	padding: .3em;
	background-color: white;
	text-align: center;
	font-size: 1em;
	color: black;
	border: 1px, solid black;
	text-align: left;
	padding: 1em;
	margin-top: 0;

}

th{
	padding: 1em;


}

td{
	padding: 1em;
}

h3{
	font-size: 20px;
	font-family: "showFont", "Helvetica", "Arial";
}


.photos{
	width: 10%;
	background-color: lightblue;
}

.about{
	vertical-align: top;
}


