

@font-face {
    font-family: "showFont";
    src: url(../fonts/BulletSmallCapsScript.ttf);
}


body{
	background-color: #1a1a1a;
	text-align: center;

}
button{
	text-align: center;
}


h1{
	padding: .3em;
	background-color: #1a1a1a;
	font-family: "showFont", "Helvetica", "Arial";
	text-align: center;
	font-size: 5em;
	color: lightblue;
}

.class{
	float: left;
}

.title{
	float: right;
}


.mySlides {
	display:none;
	padding: 1em;
	margin: 1em;
}

#navbar{
	position: fixed;
	padding-top: .5em;
	padding-bottom: .5em;
	width: 1440px;
	background-color: lightblue;
	margin-bottom: 0;
	color: #1a1a1a;
	font-family: "showFont", "Helvetica", "Arial";
	font-size: 3em;
}


.inActive{
	display: none;
}

.active{
	display: inline;
}

p{
	display: absolute;
}



#nav1Div{

	background-color: white;
	width: 1400px;
	display: all;
}


#nav2Div{

	background-color: white;
	width: 1400px;
	height: 800px;
}


#nav3Div{

	background-color: white;
	width: 1400px;
	height: 800px;
}


#nav4Div{

	background-color: white;
	width: 1400px;
	height: 800px;
}
#nav5Div{

	background-color: white;
	width: 1400px;
	height: 800px;
}













